@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');



html,
body {
  padding: 0;
  margin: 0;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  
}



p {
  font-size: 1.6rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  
}

h1 {
  font-size: 6rem;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
 
}

.SurfApp {
  height: 550px;
  width: 100%;
  position: relative;
 
  color: #fff;
}

.SurfApp:before {
  content: '';

 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.SurfApp .Search {
  text-align: center;
  padding: 0rem;
}

.SurfApp input {
  padding: 1rem 1rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
  margin-top: 2 rem;
  
}




::placeholder {
  color: #fff;
}

.SurfContainer {
  max-width: 100%;
  height: 100%;
  margin: auto;
  padding: 0 0rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.SurfApp .Top {
  width: 100%;
  margin: 1rem auto;
}

.SurfApp .Description {
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(269deg);
  margin-top: 2rem;
}

.SurfApp .Bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  margin-bottom: 300px;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}



@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}



input{

  padding: .7rem 2rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #fff;

}



button {

  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

input[type='submit'],
button {
  cursor: pointer;
  color: #fff;
  
}
.Search input[type='text'] {
  flex-grow: 1;
  margin-right: 0.5rem;
  background-color: #fff;
  color:#777;
}

.Appi {
  margin: 0 auto;
  max-width: 100%;
  height: 550px;
  width: 100%;
}




.AddThoughtForm {
  margin-top:  22px;
  display: flex;
  flex-wrap: wrap;
}

.AddThoughtForm input {
  
  display: flex;
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
  
}

.AddThoughtForm input[type='text'] {
  flex-grow: 1;
  margin-right: 0rem;
  background-color: #fff;
  color: #777 ;
  font-family: 'Montserrat', sans-serif;
}

.thoughts {
  list-style-type: none;
  padding: 1rem;
  color: #777;
  font-family: 'Courier', sans-serif;
  
}

.text {
  font-family: 'Courier', sans-serif;
}

.Thought {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #fff;
  opacity: 70%;
  font-family: 'Courier', sans-serif;
  color: #777;

}

.Thought .remove-button {
  font-size: 70%;
  float: right;
  border: 0;
  border-radius: 3px;
  color: #777;
  background-color: #fff;
  opacity: 50%;
  
 
}

.Thought .remove-button:hover {
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 400px){


p {
  font-size: 1.4rem;
  color: #fff;
}

h1 {
  font-size: 5rem;
  color: #fff;
}

.Appi{
  max-width: 400px;
    height: 450px;
}
  .SurfApp .Bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    margin: 1rem 0rem;
    margin-bottom: 100px;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255,255,255, 0.2);
  }
  .SurfApp .Description {
    position: relative;
    right: -99%;
    transform-origin: 0 0;
    transform: rotate(269deg);
  }
  .SurfContainer {
    max-width: 400px;
    height: 450px;
    margin: auto;
    padding: 0 0rem;
    position: relative;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .bold {
    font-weight: 400;
  }
  
  .SurfApp .Bottom p {
    font-size:0.85rem;
  }
  .AddThoughtForm input {
  
    display: flex;
    padding: .5rem .5rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255, 0.8);
    background: rgba(255,255,255, 0.1);
    color: #f8f8f8;
    
  }
  .SurfApp input {
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255, 0.8);
    background: rgba(255,255,255, 0.1);
    color: #f8f8f8;
    margin-top: 2 rem;
    
  }
  .thoughts {
    list-style-type: none;
    padding: 0.5rem;
    font-size: small;
  
  }
  .Thought .remove-button {
    font-size: 70%;
    float: right;
    border: 0;
   
    color: #000;
    background-color: #fff;
    opacity: 50%;
    
   
  }
}